*{
    padding: 0;
     margin: 0;
}
body{
    background-color: black;
}
header{
    background-color: #930000;
    height: 80px ;
    width: 100%;
    position: fixed;
}
h1{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 120;
    top: 0;
    line-height: 80px;
    background-image: url(imge/Logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    text-indent: -9999px;
  }

  header ul{
  position: absolute;
  right:5vw;
  top:0;
  line-height:80px;
}
header li{
  display:inline;
  margin-right:4vw;
}

header a{
  color: rgb(255, 255, 255);
  text-decoration: dashed;
}

header a:hover{
  color: white;
  text-decoration: underline;}

.new{
    background-color: rgb(231, 138, 138);
    color: aliceblue;
    height: 95vh;
    background-image: url(imge/YouTube.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.new h2{
font-size: 80px;
margin-top: 155px;
}

.new p{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    margin: 30px 0;
}

.new a{
    color: aliceblue;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}

.slogan{
  background-color: #930000;
  color: #ffffff;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1.8em;
}

footer{
  background-color: #930000;
  color: #ffffff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.shop{
display: flex;
}

.shop img{
  width: 50%;
}

.info{
  width: 50%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.info h2{
  font-size: 40px;
  margin-bottom: 30px;
}

.info p{
  text-align: center;
  line-height: 2em;
}

.manu{
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding: 100px 180px 80px;
}

.manu div{
  width: 300px;
  text-align: center;
}
.manu img{
  width: 100%;
  border-radius: 10px;
}

.manu h3{
  font-size: 20px;
  margin: 20px 0;
  color: #ffffff;
}

.manu P{
  font-size: 14px;
  line-height: 1.6em;
  color: white;
}